<div class="m-5 mb-10 text-xl font-medium text-white">
  Sample Project using Syncfusion TreeList
</div>
<div class="m-2">
  <ejs-treegrid
    [dataSource]="data"
    [treeColumnIndex]="1"
    [allowPaging]="true"
    [pageSettings]="pageSettings"
    [allowSorting]="true"
    [allowFiltering]="true"
    childMapping="friends"
  >
    <e-columns>
      <e-column
        field="index"
        headerText="Index"
        textAlign="Center"
        [width]="80"
      ></e-column>

      <e-column field="name" headerText="Name" textAlign="Left"></e-column>

      <e-column
        field="gender"
        headerText="Gender"
        textAlign="Left"
        [width]="120"
      ></e-column>

      <e-column
        field="company"
        headerText="Company"
        textAlign="Left"
      ></e-column>

      <e-column field="email" headerText="Email" textAlign="Left"></e-column>
      <e-column
        field="favoriteFruit"
        headerText="Favorite Fruit"
        textAlign="Right"
      ></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
